/* write your code here */
html, body {
    margin: 0;
    padding: 0;
    background: black;
}

.container {
    width: 1920px;
    height: 100vh;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    background: #883f36;
}

.logo {
    width: 200px;
    cursor: pointer;
    position:relative;
    padding-left: 200px;
}

nav {
    flex: 1;
    text-align: left;
    position: relative;
    margin-bottom: 25px;
}

nav ul {
    margin-top:auto;
    position: relative;
    padding-top: 45px;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 24px;
    margin-top: auto;
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.ahover::after {
    content: "";
    display: block;
    background: white;
    height: 1px;
    width: 0;
    transition: width .3s;
}

.ahover:hover::after {
    width: 100%;
    transition: width .3s;
}

.content {
    width: 100%;
    height: calc(100vh);
    max-width: auto;
    text-align: center;
    background: url(back2.jpg);
    position: relative;
}

.space-bg {
    width: 100%;
    height: calc(100vh);
    background: url(zoomed.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

.midtext {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 300px;
    font-size: 100px;
    font-weight: bold;
}

.undermidtext {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

.staticbg {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.back2 {
    width: 100%;
    position: relative;
    margin: auto;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 200px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    position: relative;
    text-align: center;
    font-size: 30px;
}

p {
    font-family: 'Play', sans-serif;
    line-height: 20px;
    color: white;
    font-weight: lighter;
    position: relative;
    text-align: center;
    font-size: 20px;
}

